/*********************************************/
/***************  Variables  *****************/
/*********************************************/
:root {
  /* colors */
  --bitcoin-orange: #f7931a;
  --orange: #e08618;
  --soft-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --blue: #2c82d3;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
  --purple: #73459e;
}

/*********************************************/
/****************  Mixins  *******************/
/*********************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/*********************************************/
/****************  Navbar  *******************/
/*********************************************/
.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 8vh;
  width: 100%;
}

.batata {
  height: 25px;
  width: 25px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--just-white);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.nav-links hr {
  height: 1px;
  opacity: 0.1;
  width: 60px;
}

.lines {
  display: none;
  cursor: pointer;
}

.lines div {
  width: 25px;
  height: 3px;
  background-color: var(--just-white);
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    position: absolute;
    right: 0px;
    top: 8vh;
    overflow-x: hidden;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    width: 0%;
    z-index: 1;
  }
  .nav-links li {
    opacity: 0;
  }
  .lines {
    display: block;
  }
}

.nav-active {
  width: 30%;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/*********************************************/
/**********  Section description  ************/
/*********************************************/
main {
  background-color: var(--off-white);
  height: auto;
  min-width: 320px;
  width: 100%;
}

.description {
  background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 334px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  min-width: 320px;
  width: 100%;
}

.description__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 24px;
  margin-top: 60px;
  width: 150px;
}

.description__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 218px;
  margin-top: 40px;
  max-width: 900px;
  min-width: 288px;
  width: 90%;
}

.description__title--h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6 rem;
}

.description__title--p {
  color: var(--soft-orange);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 25px;
}

.description__title--button {
  background-color: var(--off-white);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
          box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  color: var(--black);
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  left: calc(50% - 118px);
  text-decoration: none;
  height: 48px;
  margin-top: 35px;
  padding: 15px;
  position: absolute;
  top: 270px;
  width: 229px;
}

.description__title--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
}

/*********************************************/
/************  Section Exchange  *************/
/*********************************************/
.exchange {
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
}

.exchange__title {
  margin: 0 auto;
  max-width: 900px;
  min-width: 288px;
  width: 90%;
}

.exchange__title h2 {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6 rem;
  margin-bottom: 30px;
}

.exchange__title p {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 30px;
}

.exchange__backgroundImg {
  background-image: url("../assets/img/Bitcoin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 200px;
}

.exchange__table {
  font-family: "Inter", sans-serif;
  height: 360px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 500px;
  min-width: 235px;
  width: 70%;
}

.exchange__table--title {
  color: #9e651e;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-bottom: 15px;
  margin-top: 10px;
}

.exchange__table--container {
  height: 250px;
  margin: 0 auto;
  max-width: 300px;
  min-width: 230px;
  width: 90%;
}

.exchange__table--container table {
  -webkit-box-shadow: -5px 6px 13px 2px rgba(95, 93, 118, 0.5);
  box-shadow: -5px 6px 13px 2px rgba(95, 93, 118, 0.5);
  height: 100%;
  width: 100%;
}

.exchange__table--container td {
  background-color: var(--just-white);
  color: #757575;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  width: 50%;
}

.exchange__table--container .top-left {
  border-radius: 15px 0 0 0;
}

.exchange__table--container .top-right {
  border-radius: 0 15px 0 0;
}

.exchange__table--container .bottom-left {
  border-radius: 0 0 0 15px;
}

.exchange__table--container .bottom-right {
  border-radius: 0 0 15px 0;
}

.exchange__table--container .table-right {
  color: #757575;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
}

.exchange__table--container .down {
  background-image: url("../assets/icons/trending-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 15px;
}

.exchange__table--container .up {
  background-image: url("../assets/icons/trending-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 15px;
  margin-left: 10px;
  width: 15px;
}

.exchange__table--date {
  border-radius: 8px;
  color: var(--warm-black);
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  width: 210px;
}

.exchange__table--date p {
  color: var(--warm-black);
  font-size: 1rem;
  line-height: 1.5rem;
}

.exchange__table--title2 {
  color: #236baf;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-bottom: 15px;
}

.exchange__table .date1 {
  background-color: var(--soft-orange);
}

.exchange__table .date2 {
  background-color: var(--soft-blue);
}

/*********************************************/
/*************  Section Before  **************/
/*********************************************/
.before-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(207.8deg, var(--orange) 16.69%, var(--warm-black));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.before-footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.before-footer__left--left-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.before-footer__left li {
  height: 25px;
  width: 25px;
}

.social-networks {
  height: 25px;
  width: 25px;
}

/*********************************************/
/************  Section Benefits  *************/
/*********************************************/
.description-benefits {
  height: auto;
  padding: 60px 20px 10px;
  text-align: center;
  width: 100%;
}

.description-benefits__title {
  color: var(--black);
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 30px;
}

.description-benefits__paragraph {
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 30px;
}

.description-benefits__img {
  background-image: url("../assets/img/Bitcoin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 200px;
}

.benefits {
  background-image: url("../assets/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 20px 10px;
  position: relative;
  min-width: 320px;
  width: 100%;
}

.benefits__batata-logo {
  background-image: url("../assets/icons/batata.svg");
  height: 25px;
  left: calc(50% - 25px);
  position: absolute;
  top: -10px;
  width: 40px;
}

.benefits__details {
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  min-width: 288px;
  text-align: center;
  width: 90%;
}

.benefits__details h2 {
  color: #242424;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6 rem;
  margin-bottom: 20px;
}

.benefits__details p {
  color: #242424;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 20px;
}

.benefits__cards {
  background-color: var(--black);
  border-radius: 5px;
  -webkit-box-shadow: -5px 6px 13px 2px rgba(95, 93, 118, 0.5);
  box-shadow: -5px 6px 13px 2px rgba(95, 93, 118, 0.5);
  min-height: 150px;
  margin: 15px auto;
  max-width: 400px;
  min-width: 288px;
  padding: 15px;
  width: 90%;
}

.benefits__cards .icon-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  width: 20px;
}

.benefits__cards--clock {
  background-image: url("../assets/icons/clock.svg");
}

.benefits__cards--mirror {
  background-image: url("../assets/icons/eye.svg");
}

.benefits__cards--money {
  background-image: url("../assets/icons/dollar-sign.svg");
}

.benefits__cards--check {
  background-image: url("../assets/icons/check-circle.svg");
}

.benefits__cards--title {
  color: var(--just-white);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  margin-bottom: 15px;
}

.benefits__cards--body {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

/*********************************************/
/*************  Section Plans  ***************/
/*********************************************/
.about {
  background-image: url("../assets/img/bitcoinbaby2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
  min-width: 320px;
  width: 100%;
}

.about h2 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6 rem;
  padding-top: 60px;
}

.plans {
  background-color: var(--warm-black);
  padding-bottom: 70px;
  text-align: center;
  min-width: 320px;
  width: 100%;
}

.plans__description {
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  min-width: 288px;
  width: 90%;
}

.plans__description h2 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6 rem;
  padding-top: 50px;
}

.plans__description p {
  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-top: 30px;
}

.plans__container-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 316px;
  overscroll-behavior-x: contain;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}

.plans__container-slider::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}

.plans__container-slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}

.plans__container-cards {
  background-color: var(--black);
  border-radius: 15px;
  -webkit-box-shadow: 0 6px 10px rgba(233, 199, 113, 0.16);
          box-shadow: 0 6px 10px rgba(233, 199, 113, 0.16);
  height: 250px;
  margin: 50px 10px 0;
  max-width: 300px;
  min-width: 190px;
  padding: 0 15px;
  position: relative;
  scroll-snap-align: center;
  width: 70%;
}

.plans__container-cards .styles-general {
  border-radius: 8px;
  color: var(--just-white);
  font-size: 1.2rem;
  height: 31px;
  left: calc(50% - 60px);
  padding: 8px;
  position: absolute;
  top: -15px;
  width: 120px;
}

.plans__container-cards--recomended {
  background-color: var(--bitcoin-orange);
}

.plans__container-cards--monthly {
  background-color: #73459e;
}

.plans__container-cards--biannual {
  background-color: #2c82d3;
}

.plans__container-cards h3 {
  color: var(--just-white);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-top: 30px;
}

.plans__container-cards--price {
  color: var(--just-white);
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  padding: 5px 0;
}

.plans__container-cards--price span {
  font-size: 1.8rem;
  font-weight: 300px;
  vertical-align: 25px;
}

.plans__container-cards--saving {
  color: var(--grey);
  font-size: 1.2rem;
}

.plans__container-cards .styles-button {
  background-color: var(--warm-black);
  border-radius: 4px;
  color: var(--just-white);
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  height: 48px;
  margin-top: 20px;
  width: 150px;
}

.plans__container-cards--button-orange {
  border: 2px solid var(--bitcoin-orange);
}

.plans__container-cards--button-orange span {
  background-image: url("../assets/icons/orange-right-arrow.svg");
  display: inline-block;
  height: 20px;
  vertical-align: text-bottom;
  width: 20px;
}

.plans__container-cards--button-purple {
  border: 2px solid var(--purple);
}

.plans__container-cards--button-purple span {
  background-image: url("../assets/icons/purple-right-arrow.svg");
  display: inline-block;
  height: 20px;
  vertical-align: text-bottom;
  width: 20px;
}

.plans__container-cards--button-blue {
  border: 2px solid var(--blue);
}

.plans__container-cards--button-blue span {
  background-image: url("../assets/icons/blue-right-arrow.svg");
  display: inline-block;
  height: 20px;
  vertical-align: text-bottom;
  width: 20px;
}

/*********************************************/
/****************  Footer  *******************/
/*********************************************/
.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--black);
  color: var(--just-white);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer p {
  font-size: 1.2rem;
}

.footer a {
  color: var(--white-color);
  font-size: 1.4rem;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */